:root {
  --orange: #F59331;
  --white: #ffffff;
}

#dom-idf{
  width: 50%;
  border: 1px grey solid;
}

#mapBut{
  height: 90vh;
  width: 100%;
}

#mapR{
  height: 30vh;
  width: 100%;
  border: 1px grey solid;
  /*background-color: aqua;*/
}

#mapIdf{
  height: 30vh;
  width: 100%;
  border: 1px grey solid;
  /*background-color: rgb(255, 0, 140);*/
}

#mapGuyane{
  height: 30vh;
  width: 100%;
  border: 1px grey solid;
  /*background-color: rgb(140, 0, 255);*/
}

.iut-name{
  color: var(--orange);
  font-weight: bold;
}

.filtres{
  text-align:center;
}

.filtreOptions a:active{
  background-color: #F59331;
}

.hide{
  display: none;
}

/* svg.leaflet-zoom-animated > g > path {
  transition-property: fill, fill-opacity, stroke, stroke-opacity, stroke-width;
  transition-duration: 0.4s;
} */